<<<<<<< HEAD
@import url(./root.css);

*{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: 'iceland', sans-serif;
    color: var(--color-mine-shaft);
}

body{
    background-color: var(--color-fundo);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% auto 5%;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "main"
    "footer";
    overflow-x: hidden;
}

/* header */

.topoPag{
    grid-area: header;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-areas: "logo nav usuario";
    width: 100%;
    height: 100%;
}
.divLogo{
    grid-area: logo;
    width: 100%;
    .logoContainer{
        height: 100%;
        width: 30%;
    }
    .tooltipLogo{
        width: 100%;
        opacity: 0;
        position: relative;
        background-color: #333;
        color: #fff;
        padding: 0.5em;
        border-radius: 0.3em;
        font-size: 1vw;
        white-space: nowrap;
        flex-wrap: wrap;
        top:3vh;
        transition: opacity 300ms ease;
    }
    .tooltipLogo::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 0.4vw;
        border-style: solid;
        border-color: transparent transparent #333 transparent;
    }
    .logo:hover + .tooltipLogo{
        opacity: 1;
    }
    img{
        position: relative;
        top: 50%;
        left: 1vw;
        transform: translate(0,-50%);
        height: 5vh;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        padding: 0.6vw;
        padding-right: 1.6vw;
        padding-left: 1.6vw;
        border-radius: 0.4vw;
    }
    img:hover{
        background-color: var(--color-hover-cor);
    }
}

.divNav{
    display: flex;
    font-size: 1.3vw;
    grid-area: nav;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.trocaPag {
    cursor: pointer;
    padding: 1.4vh;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.trocaPag::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    left: 0;
    background-color: var(--color-hover-cor);
    transition: transform 300ms ease;
    z-index: -1;
    transform: translateX(-101%);
}

.trocaPag:hover::before {
    transform: translateX(0);
}

.divUser{
    grid-area: usuario;
    font-size: 1.3vw;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    background-color: transparent;
    z-index: 1;
    img{
        height: 5vh;
    }
}
.boxUser{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80%;
    width: 60%;
    margin-right: 5%;
    background-color: transparent;
}
.clickAreaDropUser {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.6vw;
    border-radius: 0.4vw;
}
.clickAreaDropUser:hover {
    background-color: var(--color-hover-cor);
}
.userText{
    padding-right: 2vh;
    transition: 300ms;
    font-size: 1.6vw;
}

.contMenuUser{
    margin-top: 0.6vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 9vh;
    right: 3vw;
    position: absolute;
    height: 8vw;
    width: 8vw;
    background-color: transparent;
}

.menuUser{
    height: 7vw;
    width: 7vw;
    transition: 300ms;
    border-radius: 1vw 0 1vw 1vw;
    position: absolute;
    top: -120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.2vw solid var(--color-crimson);
    background-color: transparent;
    a{
        text-decoration: none;
    }
}

.trocarTema {
    padding: 0.2vw;
    border-bottom: 0.1vw solid var(--color-crimson);
    position: relative; /* Adiciona esta linha para posicionar a tooltip corretamente */
}

.switch {
    position: relative;
    display: inline-block;
    height: 1.7em;
    width: 3em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #537bff;
    border-radius: 2vw;
}

.slider::before {
    transition: 400ms;
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 0.7813vw -1vw 0vw 0.7813vw #fff000;
}

input:checked + .slider {
    background: var(--background);
}

input:checked + .slider::before {
    transform: translateX(100%);
    box-shadow: inset 0.4167vw -0.2083vw 0vw 0px #ffffff;
}

/* Tooltip styles */
.tooltipTema {
    display: none;
    position: absolute;
    top: 2.5vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.3em;
    font-size: 0.8em;
    white-space: nowrap;
    z-index: 10;
}

.trocarTema:hover .tooltipTema {
    display: block;
}

.logout {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-mine-shaft);
    font-size: 1.6vw;
    padding: 0.2vw;
    margin: 0.2vw;
    padding-right: 0.4vw;
    padding-left: 0.4vw;
    border-radius: 0.4vw;
    transition: 0.3s;
}
.logout:hover {
    background-color: var(--color-hover-cor);
}

.sepUser {
    width: 4vw;
    height: 0.1vw;
    background-color: var(--color-crimson);
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
}

/* main */

/* WELCOME */
    .corpoPag{
        display: block;
        width: 100vw;
    }
    .welcomeDiv{
        display: flex;
        width: 100vw;
        height: 85vh;
        justify-content: center;
        align-items: center;
        & img{
            height: 60vh;
        }
    }
/* WELCOME FIM */

/* GRAFICOS */

.graficDiv {
    display: none;
    width: 100vw;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    .grafico {
        border-radius: 8px;
    }
    .grafContainer{
        height: 60vh;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h1{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-neutra);
            padding: 1vh ;
            font-size: 2vw;
            border-radius: 1vh;
            color: var(--color-mine-shaft);
            div{
                margin: 0 0.1vw 0 0.1vw;
                border-radius: 100%;
                height: 2vw;
                width: 2vw;
            }
        }
    }
    .primeiraCorDiv{
        background-color: var(--color-fiery-frenzy);
    }
    .segundaCorDiv{
        background-color: var(--color-shell-pink);
    }
    .texto {
        font-size: 2vw;
        position: relative;
        font-family: Arial, sans-serif;
        color: var(--color-snowflake);
        font-weight: bold;
        text-align: center;
    }
    .texto.p1 {
        top: 45%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .texto.p2 {
        top: 45%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .graficImg{
        width: 30vw;
        height: 30vw;
    }
    .graficImgDark{
        display: none;
        width: 30vw;
        height: 30vw;
    }
    .contGrafDiv{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        .contCircularGraf, .contInfoGraf{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }
    .escolaFimGraf{
        align-items: center;
        justify-content: center;
        padding: 1vh ;
        border-radius: 1vh;
        width: 20vw;
        height: 5vh;
        margin-bottom: 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        .verificarPecaBtn, .gerarPdfBtn{
            font-size: 1.2vw;
            width: 100%;
            background-color: var(--color-neutra);
            color: var(--color-mine-shaft);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            filter: brightness(0.7);
            transition: filter 300ms ease;
        }
        label:hover{
            filter: brightness(1);
        }
        .verificarPecaBtn{
            border-radius: 1vw 0 0 1vw;
            cursor: pointer;
            border-right: 0.1vh solid var(--color-mine-shaft);
        }
        .gerarPdfBtn{
            border-radius: 0 1vw 1vw 0;
            border-left: 0.1vh solid var(--color-mine-shaft);
        }
        a{
            height: 100%;
            width: 100%;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

    .tabelaGraf{
        margin-top: 15vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    table {
        width: 62vw;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        margin-bottom: 5vh;
    }
    th, td {
        color: var(--color-mine-shaft);
        font-size: 3vh;
        border: 0.1vh solid var(--color-mine-shaft);
        padding: 1vh;
        transition: 300ms;
        text-align: center;
    }
    th {
        color: var(--color-snowflake);
        background-color: var(--color-crimson);
    }
    .tdFinal{
        background-color: var(--color-crimson);
        img{
            position: relative;
            top: 50%;
            left: 2%;
            transform: translate(-50%);
            height: 1.3vw;
        }
    }
        img{
            height: 1.3vw;
        }
    td:not(.tdFinal):hover{
        background-color: var(--color-hover-cor);
    }

/* GRAFICOS FIM */


/* upload */
.uploadDiv {
    display: none;
    width: 100vw;
    min-height: 85vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    #overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: var(--color-snowflake);
        text-align: center;
        line-height: 85vh;
        font-size: 2em;
        z-index: 1;
    }

    #file-list {
        margin-top: 20px;
    }

    #file-list table {
        width: 100%;
        border-collapse: collapse;
    }

    #file-list th, #file-list td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    #file-list img {
        height: 50px;
        width: auto;
        max-width: 100px;
    }

    h1 {
        font-size: 1.8vw;
        width: 14vw;
    }
    h1,h4{
        text-align: center;
        margin: 1vw;
        color: var(--color-mine-shaft);
    }
    h4 {
        font-size: 1vw;
    }
    #file-upload{
        display: none;
    }
    #drop-area {
        cursor: pointer;
        width: 20vw;
        height: 16vw;
        text-align: center;
        position: relative;
        top: 50%;
        margin: 1vw;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .respostaCheckDiv{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40vw;
        height: 70vh;
        display: none;
        grid-template-columns: 100%;
        grid-template-rows: 15% 70% 15%;
        opacity: 99%;
        border-radius: 1vw;
        border: 0.1vw solid var(--color-mine-shaft);
        overflow: hidden;
        z-index: 11;
        div{
            align-items: center;
            display: flex;
            font-size: 1vw;
        }
    }
    .topoCheck{
        background: var(--color-midnight-mischief);
        justify-content: center;
        h1{
            color: var(--color-snowflake);
        }
    }
    .confirmCheck{
        h2{
            border-top: 0.1vw solid var(--color-snowflake);
            align-items: center;
            justify-content: center;
            display: flex;
            width: 100%;
            height: 100%;
            color: var(--color-snowflake);
            cursor: pointer;
            filter: brightness(0.9);
            transition: filter 300ms ease;
        }
        h2:hover{
            filter: brightness(1);
        }
        h2:nth-child(1){
            background: var(--color-teal-temptation);
            border-right: 0.1vw solid var(--color-snowflake);
        }
        h2:nth-child(2){
            background: var(--color-emerald-envy);
            border-left: 0.1vw solid var(--color-snowflake);
        }
    }
    .corpoCheck{
        border-top: 0.1vw solid var(--color-snowflake);
        background: var(--color-hover-cor);
        justify-content: center;
    }
}
.mostrarPopup{
    background: var(--color-crimson);
    padding: 1vw;
    cursor: pointer;
    color: var(--color-snowflake);
    margin: 1vw;
}
.fundoCinza{
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 10;
}



/* upload FIM */

/* main fim */


/* footer */


.fimPag{
    background-color: var(--color-crimson);
    width: 100%;
    transition: 300ms;
}

.primeiroFooter{
    display: flex;
    grid-area: footer;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    transition: 300ms;
    h2{
        font-size: 1vw;
        color: var(--color-snowflake);
        margin: 0 1.5vw 0 1.5vw;
    }
    .setaExpandFooter {
        cursor: pointer;
        position: relative;
        transition: 200ms;
        transform: rotate(0deg);
        font-size: 42px;
        color: var(--color-snowflake);
    }
    .setaExpandFooter:hover{
        scale: 1.00;
    }
    .tooltip {
        display: none;
        position: absolute;
        bottom: 100%; /* Coloca a tooltip acima do ícone */
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 20px;
        white-space: nowrap;
        z-index: 10; /* Garante que a tooltip esteja acima de outros elementos */
    }

    .tooltip::after {
        content: '';
        position: absolute;
        top: 100%; /* Posiciona o triângulo abaixo da tooltip */
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
    }

    .contSeta:hover .tooltip {
        display: block;
    }
    .contSeta{
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 200ms;
    }
}

.segundoFooter {
    display: none;
    justify-content: space-around;
    align-items: center;
    & h1 {
        color: yellow;
    }
}


.temaTexto {
    color: var(--color-mine-shaft);
    /* Alterna entre: #ffffff e #000000 */
}

.trocaPag:nth-child(1) {
    --corAtual: #AB0B12;
    box-shadow: inset 0 -0.2vh 0 0 var(--corAtual);
}

::-webkit-scrollbar {
    transition: 0.3s;
    width: 12px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background: var(--color-shell-pink);
}

::-webkit-scrollbar-thumb:hover {
background: var(--color-crimson);
}
=======
@import url(./root.css);

*{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: 'iceland', sans-serif;
    color: var(--color-mine-shaft);
}

body{
    background-color: var(--color-fundo);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% auto 5%;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "main"
    "footer";
    overflow-x: hidden;
}

/* header */

.topoPag{
    grid-area: header;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-areas: "logo nav usuario";
    width: 100%;
    height: 100%;
}
.divLogo{
    grid-area: logo;
    width: 100%;
    .logoContainer{
        height: 100%;
        width: 30%;
    }
    .tooltipLogo{
        display: none;
        position: absolute;
        top: 9vh;
        left: 4vw;
        background-color: #333;
        color: #fff;
        padding: 0.5em;
        border-radius: 0.3em;
        font-size: 1vw;
        white-space: nowrap;
        z-index: 10;
    }
    .logoContainer:hover .tooltipLogo{
        display: block;
    }
    img{
        position: relative;
        top: 50%;
        left: 1vw;
        transform: translate(0,-50%);
        height: 5vh;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        padding: 0.6vw;
        padding-right: 1.6vw;
        padding-left: 1.6vw;
        border-radius: 0.4vw;
    }
    img:hover{
        background-color: var(--color-hover-cor);
    }
}

.divNav{
    display: flex;
    font-size: 1.3vw;
    grid-area: nav;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.trocaPag {
    cursor: pointer;
    padding: 1.4vh;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.trocaPag::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    left: 0;
    background-color: var(--color-hover-cor);
    transition: transform 300ms ease;
    z-index: -1;
    transform: translateX(-101%);
}

.trocaPag:hover::before {
    transform: translateX(0);
}

.divUser{
    grid-area: usuario;
    font-size: 1.3vw;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    background-color: transparent;
    z-index: 1;
    img{
        height: 5vh;
    }
}
.boxUser{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80%;
    width: 60%;
    margin-right: 5%;
    background-color: transparent;
}
.clickAreaDropUser {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.6vw;
    border-radius: 0.4vw;
}
.clickAreaDropUser:hover {
    background-color: var(--color-hover-cor);
}
.userText{
    padding-right: 2vh;
    transition: 300ms;
    font-size: 1.6vw;
}

.contMenuUser{
    margin-top: 0.6vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8vh;
    right: 3vw;
    position: absolute;
    height: 8vw;
    width: 8vw;
    background-color: transparent;
}

.menuUser{
    height: 7vw;
    width: 7vw;
    transition: 300ms;
    border-radius: 1vw 0 1vw 1vw;
    position: absolute;
    top: -120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.2vw solid var(--color-crimson);
    background-color: transparent;
}

.trocarTema {
    margin-bottom: 0vw;
    position: relative; /* Adiciona esta linha para posicionar a tooltip corretamente */
}

.switch {
    position: relative;
    display: inline-block;
    height: 1.7em;
    width: 3em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #537bff;
    border-radius: 2vw;
}

.slider::before {
    transition: 400ms;
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 0.7813vw -1vw 0vw 0.7813vw #fff000;
}

input:checked + .slider {
    background: var(--background);
}

input:checked + .slider::before {
    transform: translateX(100%);
    box-shadow: inset 0.4167vw -0.2083vw 0vw 0px #ffffff;
}

/* Tooltip styles */
.tooltipTema {
    display: none;
    position: absolute;
    top: 2.5vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.3em;
    font-size: 0.8em;
    white-space: nowrap;
    z-index: 10;
}

.trocarTema:hover .tooltipTema {
    display: block;
}

.logout {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-mine-shaft);
    font-size: 1.6vw;
    padding: 0.2vw;
    padding-right: 0.4vw;
    padding-left: 0.4vw;
    border-radius: 0.4vw;
    transition: 0.3s;
}
.logout:hover {
    background-color: var(--color-hover-cor);
}

.sepUser {
    width: 4vw;
    height: 0.1vw;
    background-color: var(--color-crimson);
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
}

/* main */

/* WELCOME */
    .corpoPag{
        display: block;
        width: 100vw;
    }
    .welcomeDiv{
        display: flex;
        width: 100vw;
        height: 85vh;
        justify-content: center;
        align-items: center;
        & img{
            height: 60vh;
        }
    }
/* WELCOME FIM */

/* GRAFICOS */

    .graficDiv {
        display: none;
        width: 100vw;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column; /* Organiza o conteúdo em coluna */
    }

    .grafico {
        border-radius: 8px;
        height: 70vh; /* Ajuste a altura para ocupar 70% da altura da viewport */
        width: 70vw;  /* Ajuste a largura para ocupar 70% da largura da viewport */
        max-width: 1200px; /* Largura máxima para evitar que fique muito grande */
        max-height: 900px; /* Altura máxima para evitar que fique muito grande */
        margin: auto; /* Centraliza o gráfico horizontalmente */
        display: block; /* Certifica-se de que o gráfico é tratado como um bloco para o dimensionamento */
    }

    .grafContainer {
        height: 80vh; /* Ajuste a altura do contêiner */
        width: 100%;
        display: flex; /* Flexbox para layout */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        padding: 20px; /* Espaçamento ao redor do gráfico */
    }

    .contCircularGraf{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h1{
            display: flex;
            align-items: center;
            background-color: var(--color-neutra);
            padding: 1vh ;
            font-size: 2vw;
            border-radius: 1vh;
            color: var(--color-mine-shaft);
            div{
                margin: 0 0.1vw 0 0.1vw;
                border-radius: 100%;
                height: 2vw;
                width: 2vw;
            }
        }
    }
    .primeiraCorDiv{
        background-color: var(--color-fiery-frenzy);
    }
    .segundaCorDiv{
        background-color: var(--color-shell-pink);
    }
    .texto {
        font-size: 2vw;
        position: relative;
        font-family: Arial, sans-serif;
        color: var(--color-snowflake);
        font-weight: bold;
        text-align: center;
    }
    .texto.p1 {
        top: 45%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .texto.p2 {
        top: 45%;
        left: 40%;
        transform: translate(-50%, -50%);
    }



    .tabelaGraf{
        margin-top: 15vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    table {
        width: 62vw;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        margin-bottom: 5vh;
    }
    th, td {
        color: var(--color-mine-shaft);
        font-size: 3vh;
        border: 0.1vh solid var(--color-mine-shaft);
        padding: 1vh;
        transition: 300ms;
        text-align: center;
    }
    th {
        color: var(--color-snowflake);
        background-color: var(--color-crimson);
    }
    .tdFinal{
        background-color: var(--color-crimson);
        img{
            position: relative;
            top: 50%;
            left: 2%;
            transform: translate(-50%);
            height: 1.3vw;
        }
    }
        img{
            height: 1.3vw;
        }
    td:hover {
        background-color: var(--color-hover-cor);
    }

    .graficImg{
        position: absolute;
        opacity: 100%;
        width: 30vw;
        height: 30vw;
    }
    .graficImgDark{
        opacity: 0%;
        width: 30vw;
        height: 30vw;
    }

/* GRAFICOS FIM */


/* upload */
.uploadDiv {
    display: none;
    width: 100vw;
    min-height: 85vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    #overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: var(--color-snowflake);
        text-align: center;
        line-height: 85vh;
        font-size: 2em;
        z-index: 1;
    }

    #file-list {
        margin-top: 20px;
    }

    #file-list table {
        width: 100%;
        border-collapse: collapse;
    }

    #file-list th, #file-list td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    #file-list img {
        height: 50px;
        width: auto;
        max-width: 100px;
    }

    h1 {
        font-size: 1.8vw;
        width: 14vw;
    }
    h1,h4{
        text-align: center;
        margin: 1vw;
        color: var(--color-mine-shaft);
    }
    h4 {
        font-size: 1vw;
    }
    #file-upload{
        display: none;
    }
    #drop-area {
        cursor: pointer;
        width: 20vw;
        height: 16vw;
        text-align: center;
        position: relative;
        top: 50%;
        margin: 1vw;
        img{
            height: 100%;
            width: 100%;
        }
    }
}




/* upload FIM */

/* main fim */


/* footer */


.fimPag{
    background-color: var(--color-crimson);
    width: 100%;
    transition: 300ms;
}

.primeiroFooter{
    display: flex;
    grid-area: footer;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    transition: 300ms;
    h2{
        font-size: 1vw;
        color: var(--color-snowflake);
        margin: 0 1.5vw 0 1.5vw;
    }
    .setaExpandFooter {
        cursor: pointer;
        position: relative;
        transition: 200ms;
        transform: rotate(0deg);
        font-size: 42px;
        color: var(--color-snowflake);
    }
    .setaExpandFooter:hover{
        scale: 1.00;
    }
    .tooltip {
        display: none;
        position: absolute;
        bottom: 100%; /* Coloca a tooltip acima do ícone */
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 20px;
        white-space: nowrap;
        z-index: 10; /* Garante que a tooltip esteja acima de outros elementos */
    }

    .tooltip::after {
        content: '';
        position: absolute;
        top: 100%; /* Posiciona o triângulo abaixo da tooltip */
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
    }

    .contSeta:hover .tooltip {
        display: block;
    }
    .contSeta{
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 200ms;
    }
}

.segundoFooter {
    display: none;
    justify-content: space-around;
    align-items: center;
    & h1 {
        color: yellow;
    }
}


.temaTexto {
    color: var(--color-mine-shaft);
    /* Alterna entre: #ffffff e #000000 */
}

.trocaPag:nth-child(1) {
    --corAtual: #AB0B12;
    box-shadow: inset 0 -0.2vh 0 0 var(--corAtual);
}

::-webkit-scrollbar {
    transition: 0.3s;
    width: 12px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background: var(--color-shell-pink);
}

::-webkit-scrollbar-thumb:hover {
background: var(--color-crimson);
}
>>>>>>> 930e0c7 (Teste de primeiro git)
  